@media (max-width: 700px) {
  body {
    padding: 0 0px;
    font-size: 16px;
  }

  /* header */

  .links {
    display: none;
  }
  /* titulo site */
  .principal {
    justify-content: center;
  }

  .principal h1 {
    font-size: 35px;
    max-width: 350px;
    margin: 0;
    margin-top: 50px;
    text-align: center;
    line-height: 40px;
  }

  /* secao intro */

  .secao-intro {
    display: flex;
    flex-direction: column;
    margin-top: 75px;
    row-gap: 35px;
  }

  .info-perfil {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .info-perfil-descricao {
    margin-bottom: 50px;
  }

  .info-perfil-descricao h2{
    margin-bottom: 10px;
  }

  .info-perfil img {
    max-width: 150px;
  }

  .info-perfil h2, p {
    align-self: center;
  }

  .info-perfil p {
    padding: 0 20px;
    text-align: center;
    line-height: 25px;
  }

  /* cards */

  .card {
    max-width: 300px;
    align-self: center;
    padding: 25px 25px;
  }

  .subtitulo {
    font-size: 20px;
    text-align: center;
  }

  .paragrafo {
    font-size: 16px;
    line-height: 25px;
  }

  .card-tecnologias p::before {
    width: 5px;
    height: 5px;
  }

  .card-tecnologias {
    height: 350px;
  }

  .card-informacoes {
    height: 235px;
  }

  .secao-informacoes {
    flex-direction: column;
    margin-top: 35px;
    gap: 35px;
  }

  .projeto {
    display: none;
  }

  .projeto-responsivo {
    display: flex;
    width: 180px;
    height: 230px;
  }

  .card-projetos {
    align-content: end;
    height: 700px;
    padding-bottom: 50px;
  }

  .secao-projetos .subtitulo {
    top: 25px;
  }

  .secao-projetos {
    margin-top: 35px;
  }
  
  .secao-projetos::before {
    display: none;
  } 

  /* redes */

  .secao-redes {
    margin-top: 30px;
  }

  .card-redes {
    flex-direction: column;
    height: 300px;
    gap: 65px;
  }

  .links-redes {
    margin-top: 0;
  }

  .links-redes a{
    font-size: 16px;
    margin: 0;
  }

  .card-redes .subtitulo {
    position: relative;
    margin: 0;
  }

  .rodape {
    max-width: 100%;
  }
}