:root {
  --cor-de-fundo: #0f0f0f;
  --cor-links: #CCC;
  --cor-titulo-card: #0E0E0E;
  --cor-paragrafo-card: #2E2E2E;
  --cor-fundo-card: #DEDEDE;
  --cor-destaque-maximo: #F7F7F7;
  --fonte-forte: 'Roboto', serif;
  --fonte-fraca: 'Inter', serif;
}

h1,
h2,
h3,
p {
  margin: 0;
}

body {
  margin: 0;
  background: var(--cor-de-fundo);
  padding: 0;
  font-family: var(--fonte-fraca);
  font-size: 1.5rem;
}

/* header */


.links {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 50px;
  margin-left: 1035px;
}

.links a {
  font-family: var(--fonte-forte);
  font-weight: 600;
  color: var(--cor-links);
  text-decoration: none;
  padding: 15px 20px;
  font-size: 1.5rem;
}

.links::after {
  content: url(../img/carpa.svg);
  z-index: -5;
  position: absolute;
  top: 0;
  left: 180px;
}

/* titulo principal */

.principal {
  display: flex;
  justify-content: center;
}

.principal h1 {
  font-family: var(--fonte-forte);
  color: var(--cor-destaque-maximo);
  font-size: 3.4rem;
  font-weight: 700;
  max-width: 685px;
  margin-top: 180px;
  margin-left: 750px;
}

/* grid 1 */

.secao-intro {
  display: grid;
  grid-template-columns: 800px 480px;
  margin-top: 260px;
  column-gap: 140px;
  justify-content: center;
}

/* foto pefil e descricao */

.info-perfil {
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 15px;
}

.info-perfil h2{
  color: #DEDEDE;
  font-size: 2.5rem;
  font-weight: 700;
}

.info-perfil p {
  color: #B2B2B2;
  max-width: 550px;
  line-height: 30px;
}

.paragrafo a {
  color: rgb(24, 84, 134);
  text-decoration: none;
}

/* card formacao */

.card {
  background-color: var(--cor-fundo-card);
  border-radius: 5px;
  padding: 40px 50px;
  filter: drop-shadow(0px 7px 0px rgba(222, 222, 222, 0.80));
}

.card-formacao {
  grid-column: 1/2;
  width: 700px;
  height: 250px;
  place-self: end start;
}

.subtitulo {
  color: var(--cor-titulo-card);
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.card-formacao .paragrafo {
  max-width: 650px;
}

.paragrafo {
  color: var(--cor-paragrafo-card);
  line-height: 36px;
  margin-top: 20px;
}

/* card tecnologias */

.card-tecnologias {
  grid-column: 2/3;
  grid-row: 1/3;
  width: 380px;
  height: 510px;
}

.card-tecnologias p {
  position: relative;
  color: #444444;
  font-weight: 700;
  margin-bottom:10px;
  margin-left: 25px;
}

.card-tecnologias p::before {
  content: '';
  position: absolute;
  top: 10px;
  left: -15px;
  display: block;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  background: #2E2E2E;
}

/* secao informacoes */

.secao-informacoes {
  display: flex;
  margin-top: 200px;
  justify-content: center;
  gap: 20px;

}

.card-informacoes {
  width: 360px;
  height: 380px;
}

/* secao projetos */

.secao-projetos {
  display: flex;
  justify-content: center;
  margin-top: 200px; 
  position: relative;
}

.secao-projetos::before {
  content: url(../img/gato1.svg);
  position: absolute;
  top: -170px;
} 

.card-projetos {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  place-content: end center;
  padding-bottom: 70px;
  width: 1320px;
  height: 790px;
}

.secao-projetos .subtitulo {
  position: absolute;
}

.projeto {
  height: 270px;
  width: 230px;
  padding: 30px;
  background: linear-gradient(180deg, #373737 0%, #141414 100%);
  border-radius: 5px;
  color: var(--cor-destaque-maximo);
  text-decoration: none;
  font-family: var(--fonte-forte);
  font-size: 30px;
  font-weight: 700;
}

/* redes  sociais */

.secao-redes {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.card-redes {
  display: flex;
  justify-content: center; 
  width: 1320px;
  height: 220px;
  gap: 50px;
}

.links-redes {
  align-self: center;
  margin-top: 80px;
  filter: drop-shadow(0px 5px 0px rgba(151, 151, 151, 0.8));
}

.links-redes a {
  font-size: 1.75rem;
  color: var(--cor-destaque-maximo);
  padding: 15px 30px;
  background: linear-gradient(180deg, #252525 0%, #0E0E0E 100%);
  border-radius: 5px;
  text-decoration: none;
  font-weight: 700;
}

.card-redes .subtitulo {
  position: absolute;
}

/* rodape */

.rodape {
  text-align: center;
  margin-top: 200px;
  filter: drop-shadow(0px 0px 0px);
  border-radius: 0px;
}

.rodape::before {
  content: url(../img/gato2.svg);
  position: absolute;
  top: -145px;
  right: 0;
}

/* hover */
.links-redes a:hover, .projeto:hover {
  box-shadow: inset 0 0 5px rgb(255, 255, 255);
}

.links a:hover {
  color: #fff;
}








