:root {
  --cor-de-fundo: #1A1A1A;
  --cor-links: #CCC;
  --cor-titulo-card: #0E0E0E;
  --cor-paragrafo-card: #2E2E2E;
  --cor-fundo-card: #DEDEDE;
  --cor-destaque-maximo: #F7F7F7;
  --fonte-forte: 'Roboto', serif;
  --fonte-fraca: 'Inter', serif;
}

h1,
h2,
h3,
p {
  margin: 0;
}

body {
  margin: 0;
  background: var(--cor-de-fundo);
  padding: 0;
  font-family: var(--fonte-fraca);
  font-size: 24px;
  font-weight: 400;
  height: 5000px;
}

/* header */


.links {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 50px;
  margin-left: 1035px;
}

.links a {
  font-family: var(--fonte-forte);
  font-weight: 600;
  color: var(--cor-links);
  text-decoration: none;
  padding: 15px 20px;
  font-size: 24px;
}

.links::after {
  content: url(../img/dragao.svg);
  z-index: -5;
  position: absolute;
  top: 0;
  left: 0px;
}

/* titulo principal */

.principal {
  display: flex;
  justify-content: center;
}

.principal h1 {
  font-family: var(--fonte-forte);
  color: var(--cor-destaque-maximo);
  font-size: 55px;
  font-weight: 700;
  max-width: 685px;
  margin-top: 180px;
  margin-left: 750px;
}

/* grid 1 */

.secao-intro {
  display: grid;
  grid-template-columns: 800px 480px;
  margin-top: 260px;
  column-gap: 140px;
  justify-content: center;
}

/* foto pefil e descricao */

.info-perfil {
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 15px;
}

.info-perfil h2{
  color: #DEDEDE;
  font-size: 40px;
  font-weight: 700;
}

.info-perfil p {
  color: #B2B2B2;
  max-width: 550px;
  line-height: 30px;
}

/* card formacao */

.card {
  background-color: var(--cor-fundo-card);
  border-radius: 5px;
  padding: 40px 50px;
  filter: drop-shadow(0px 7px 0px rgba(222, 222, 222, 0.80));
}

.card-formacao {
  grid-column: 1/2;
  width: 700px;
  height: 250px;
  place-self: end start;
}

.subtitulo {
  color: var(--cor-titulo-card);
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}

.card-formacao .paragrafo {
  max-width: 650px;
}

.paragrafo {
  color: var(--cor-paragrafo-card);
  line-height: 36px;
  margin-top: 20px;
}

/* card tecnologias */

.card-tecnologias {
  grid-column: 2/3;
  grid-row: 1/3;
  width: 380px;
  height: 510px;
}

.card-tecnologias p {
  position: relative;
  color: #444444;
  font-weight: 700;
  margin-bottom:10px;
  margin-left: 25px;
}

.card-tecnologias p::before {
  content: '';
  position: absolute;
  top: 10px;
  left: -15px;
  display: block;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  background: #2E2E2E;
}

/* secao informacoes */

.secao-informacoes {
  display: flex;
  margin-top: 200px;
  justify-content: center;
  gap: 20px;

}

.card-informacoes {
  width: 360px;
  height: 380px;
}

/* secao projetos */

.secao-projetos {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.card-projetos {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  place-content: end center;
  padding-bottom: 70px;
  width: 1320px;
  height: 790px;
}

.secao-projetos .subtitulo {
  position: absolute;
}

.projeto {
  height: 300px;
  width: 260px;
  background: linear-gradient(180deg, #373737 0%, #141414 100%);
  border-radius: 5px;
}

.projeto h3 {
  color: var(--cor-destaque-maximo);
  height: 700;
  max-width: 180px;
  padding: 30px;
}







